@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');


input{
    font-family: 'Roboto Mono';
    font-weight: normal;
    padding:8px;
    height: 22px;
    width: 342px;  
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 16px;  
}

input:focus{
    outline: none;
    border: 2px solid;
    border-color: transparent;
    background: linear-gradient(white,white) padding-box,linear-gradient(90deg, #30cfd0, #330867) border-box;
}

img{
    position: absolute;
    margin-top: 8px;
    margin-left: -36px;
}

        
#main-container{
    position:relative;
    width: fit-content;
    height: fit-content;
}

